    h1{
        color: #ffffffc4;
        font-family: 'Poiret One', cursive;  
    }

/* INDEX */
    #index-body{
        background-color: #c7c7c7;
    }
    #login-h1{
        text-align: center; 
        margin: 3rem 0 1.68rem 0;
        font-size: 7rem;
        text-shadow: 1px 1px 12px #000000d1;
    }
    #spacer p {
        text-align: center;
    }
/* Footer */
    #index-footer{
        position: fixed;
        bottom: 60px;
        width: 100%;
    }
    #index-modals{
        width:66%;
        margin-right:auto;
        margin-left:auto;
    }
    label .active{
        border-bottom: 1px solid #25c1f9;
    }
    /* Sign-Up & Sign In buttons */
        .modal-trigger{
            background-color:#ffffffc4;
            color: #919292;
            width:100%;
        }
        .modal-trigger:hover{
            background-color:#25c1f9c2;
            color: white;
            }
        .modal.open{
            position:fixed;
        }
        .modal .modal-footer{
            background-color: transparent;
        }
    /* Sign-Up Modal */
        #sign-up{
            visibility:hidden;
            width: 100%;
            background-color: #25c1f9c2
        }
        #logIn{
            width: 100%;
            background-color: #25c1f9c2
        }
        #sign-up:hover{
            background-color:#1d9ccac2;
        }
        .requirement{
            color: #ff4384;
        }
    /* Sign In Modal */
        #welcome{
            text-align: center;
        }
        #invalid{
            margin: unset;
            visibility: hidden;
        }

/* All Content Pages */
/* Header */
    .content-body{
        background-color: #e2e2e3;
    }
    .content-header{
        margin-bottom:unset;
        background-color: #25c1f9;
        background-color: #25c1f9c2;
        position: fixed;
        width: 100%;
        padding-top:5px;
        padding-bottom:5px;
    }

/* FABs */
    .menu-button{
        background-color: #ff4384;
    }
    .account-button{
        background-color:#7B4DFE;
    }
    
    .create-button{
        background-color:#25c1f9;
    }
/* Main */
    .content-main{
        padding-bottom: 85px;
    }
    .container{
        width:95%;
    }
/* Content Head */
.content-h1{
    margin: unset;
    font-size: 3rem;
    margin-top: 3px;
    margin-bottom: 3px;
    text-shadow: 1px 1px 5px #000000d1;
    text-align: center;
    color: #ffffffc4;
}
.content-div{
    background-color: #ffffff;
}
.content-head{
    padding-top: 10.5px;
    background-color: #e2e2e34a;
    margin-bottom: 0;
    padding-bottom: 10.5px;
    border-bottom: 1px solid #e2e2e3;
}
h6{
    margin: unset;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}
p{
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
}
h6.toxicity-text{
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    margin:0;
    text-align: right;
}
.circle {
    height: 14px;
    width: 14px;
    background-color: #25c1f9;
    margin-left:auto;
    margin-top: 2px;
}
.square{
    margin-top: 3px;
    height: 13px;
    width: 13px;
    background-color: #7B4DFE;
}
.diamond {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #ff4384;
    position: relative;
    top: -8px;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -8px;
    top: 8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ff4384;
}
/* Content Body */
/* Single Image in Post */
.single-img{
    width:100%;
    max-height:250px;
}
/* Multiple Images - Carousel*/
.carousel{
    max-height: 220px;
}
.carousel-item{
    max-width: 75%;
    max-height: 200px;
}    
.carousel-img{
        max-width: 100%;
        max-height: 200px;
        margin-top:auto;
        margin-bottom:auto;
    }

img {
max-width: 250px;
}

/* Content - Slack Page */


.chip{
    background-color:white;
}
.chip-img{
    border: 3px solid transparent;
}
.chip img{
    border-radius: 50% 50% 50% 2%;
}
#allMessages{
    width:96%;
    margin-left:auto;
    margin-right:auto;
    overflow: scroll;
    overflow-x: hidden;
}
.user-message{
    margin-bottom:10px;
    background-color: white;
    border-radius: 20px 20px 20px 1px;
}
.message-head{
    margin-bottom:0;
}
.timestamp,
.toxicity{
    font-family: 'Assistant', sans-serif;
    height: 32px;
    padding-top: 8px;
    margin-left:10px;
    margin-right:10px;
    color:#a0a0a0;
}
.timestamp{
    margin-right:-5px;
    font-size: 12px;
}
.message-text{
    padding-left:40px;
    padding-right:15px;
    margin-top:0;
    margin-bottom:0;
    width:100%;
    overflow-wrap:break-word;
}
.message-img{
    width:100%;
    border-radius: 20px 20px 20px 2px;
}
/* footer */
.message-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px -1px rgba(0, 0, 0, 0.13);
}
#message-space{
    margin-bottom:unset;
}
#type-toxicity{
    padding-left:10px;
    padding-right:10px;
}
.slack-submit{
    padding: unset;
    width: fit-content;
    background-color: #F5F5F6;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.slack-submit:hover{
    background-color:#25c1f9c2;
}
#send-icon{
    margin: unset;
    margin-left: 10px;
    margin-right: 10px;
    color: #ff4384;
}

/* MEDIA QUERIES */
@media only screen and (min-width:460px){
    div#allMessages {
        width: 80%;
    }
    .form-div{
        width:80%;
    }
    .slack-submit{
        position: unset;
        bottom: 0px;
        right: 0px;
        float:right;
        width:90%;
        height:45px;
        border-radius:20px 20px 20px 3px;
        margin-left:15px;
    }
    #send-icon{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    div.col.s2.right.sub-btn{
        width:10%;
        padding-right: unset;
    }
    #textarea1{
        width:90%;
    }
    #message-space{
        padding-right:unset;
        padding-left:unset;
    }
    .message-img{
        max-width:360px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (min-width: 1200px){
    .modal-div{
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    #login-h1{
        font-size: 15rem;
        margin-top: 150px;
    }
    #index-footer{
        position: unset;
    }
    #index-modals{
        width:100%;
    }
    main{
        padding-left:150px;
        padding-right:150px;
    }

    #textarea1{
        width:90%;
    }
    .slack-submit{
        position: unset;
        bottom: 0px;
        right: 0px;
        float:right;
        width:100%;
        height:45px;
        border-radius:20px 20px 20px 3px;
    }
    #send-icon{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    div.col.s2.right.sub-btn{
        width:10%;
    }
    .form-div{
        width:58%;
    }
}

/* Content - Facebook Page */
    /* #fb-body{
        background-color: #ffffff;
    }
    header{
        margin-bottom:unset;
        background-color: #c7c7c7;
    }
    #fb-h1{
        margin: unset;
        font-size: 3rem;
        margin-top: 3px;
        margin-bottom: 3px;
        text-shadow: 1px 1px 5px #000000d1;
    } */
